@model ProdutoModel
@{
    ViewData["Title"] = "Caixa Page";
}

<div class="text-center">
    <form id="produtoForm" asp-controller="Caixa" asp-action="AdicionarProdutoCaixa" method="post">
        <div class="form-floating mb-3">
            <input type="text" asp-for="CodigoBarras" class="form-control" id="codigoBarrasInput" oninput="submitAutomatico()">
            <label for="floatingInput">Codigo do Produto</label>
        </div>
    </form>
    <br>
    <h1 class="h3"><strong></strong></h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Gramas/Unidade</th>
                <th scope="col">Medida</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody id="tabelaProdutos">
            <!-- Produtos serão adicionados aqui -->
        </tbody>
    </table>
</div>

<!-- Barra de navegação fixa na parte inferior da tela -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
        <h4>Valor Pago: R$ <input type="number" id="valorPago" min="0" onchange="calcularTroco()"></h4>
        <h4>Troco: R$ <span id="troco">0.00</span></h4>  
        <h4>Total: R$ <span id="totalValor">0.00</span></h4>
        
    </div>
</nav>

<!-- Referência ao arquivo JS -->
<script src="~/js/caixa.js"></script>
