@{
    ViewData["Title"] = "Home Page";
}

<div class="form-floating mb-3">
  <input type="text" class="form-control"  placeholder="Codigo do Produto">
  <label for="floatingInput">Codigo do Produto</label>
</div>
