@model ProdutoModel
@{
    ViewData["Title"] = "Cadastrar Page";
}

<div>
<h1 class="text-center">Cadastrar Produtos</h1>
</div>

<br>


<form asp-controller="Produtos" asp-action="CadastrarProduto" method="post">

<div class="form-floating mb-3">
  <input type="text" asp-for = "CodigoBarras" class="form-control"  placeholder="Codigo do Produto" >
  <label for="floatingInput">Codigo do Produto</label>
</div>

<div class="form-floating mb-3">
  <input type="text" asp-for = "Nome" class="form-control"  placeholder="Nome do Produto">
  <label for="floatingInput">Nome do Produto</label>
</div>

<div class="form-floating mb-3">
  <input type="decimal" asp-for = "Valor" class="form-control"  placeholder="Nome do Produto">
  <label for="floatingInput">Valor do Produto</label>
</div>

<div>
<select class="form-select" asp-for="MedidaProduto" >
  <option value="Unidade" >Unidade</option>
  <option value="Gramas">Gramas</option>
</select>
<br>
</div>



 <button type = "submit"asp-controller="Produtos" asp-action="CadastrarProduto"class="btn btn-primary w-100" type="button"><strong>Cadastrar</strong></button>
 <br>
 <br>
 <a class="btn btn-secondary w-100" asp-controller="Produtos" asp-action="GerenciarProdutos" role="button">Voltar</a>
 </form>