@{
    ViewData["Title"] = "Remover Page";
}

<div>
<h1 class="text-center">Remover Produto</h1>
</div>

<br>

<div class="form-floating mb-3">
  <input type="text" class="form-control"  placeholder="Codigo do Produto">
  <label for="floatingInput">Codigo do Produto</label>
</div>


<div class="text-center">
 <button type = "submit"class="btn btn-danger w-100" type="button">Remover</button>
</div>